@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --brand-color-1: #0077ff;
  --brand-color-2: #85f5d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

* {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}


/* Link Animation Starts Here */
.animated-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.animated-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.animated-link:hover::after {
  transform: scaleX(1);
}

.animated-link:not(:hover)::after {
  transform-origin: right;
}
/* Link Animation Ends Here */


